{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Мне 21 год. Живу в Самаре. В данный момент учусь на журналиста(да, можете мне посочувствовать). 
  За время учебы перепробовал себя в массе, так называемых, «творческих» специальностей:
  оператор, монтажёр, фотограф, редактор подкастов и т. п. 
  Понял, что перегорел от всего этого и решил кардинально сменить вектор развития. 
  Прошёл бесплатный модуль в Яндекс.Практикум по профессии Python-разработчик.
  Потом увидел рекламу School 21 и решил попробовать пройти отборочный этап, который проходил в Казани.
  На время «бассейна» – так называется этот этап – я жил в хостеле. Недалеко от озера Кабан. 
  Каждый день я изучал программирование по 10-12 часов и всё равно чувствовал себя тупым. 
  В общем, было сложно.
  Но мои страдания окупились и я прошёл. Правда узнал я об этом слишком поздно, в октябре.
  В это время учеба уже шла полным ходом и я не мог уйти в академ, чтобы уехать в Казань учиться.
  Я принял решение, чтобы не терять время, пройти курс в Яндекс.Практикум до лета.
  А после – с дипломом журналиста и сертификатом программиста – пройти обучение в School 21.
  Надеюсь у меня всё получится.
</p>
{% endblock %}