<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>За полгода учебы в Яндекс.Практикум я:</p>
    <li>Познал основы ООП</li>
    <li>Изучил SQL и HTML</li>
    <li>Разобрался в декораторах</li>
    <li>Научился создавать формы регистрации</li>
    <li>Познал тайны тайм-менеджмента</li>
    <li>Наловчился работать с базами данных</li><br>
    И всё это и я применил для разработки своего уникального пет-проекта YaTube.<br>
    Поэтому не вижу ни одной причины не взять меня 
    на должность сеньера в вашу компанию:)
  </article>
</div>
{% endblock %}